

.overall2div{
    padding: 5rem 7rem 5rem 7rem;
}

.parent2div{
    display: flex;
    justify-content: space-between;
}

.text3div{
    width: 500px;
    padding-top: 10rem;
}


  .text3div h1 {
    font-family: "Clash-display";
  }
  .text3div p {
    color: #fff;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.5px; /* 196.429% */
  }
  
  .text3div h1 span {
    font-family: "Clash-display";
  }

.girlboydiv{
    display: flex;
}
.girlboy{
    width: 600px;
}

.text4div {
    /* width: 40%; */
    width: 600px;
    /* background-color: red; */
    padding-top: 5rem;
  }
  .text4div h1 {
    font-family: "Clash-display";
  }
  .text4div p {
    color: #fff;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.5px; /* 196.429% */
  }
  
  .text4div h1 span {
    font-family: "Clash-display";
  }

  .text4div button{
    background: linear-gradient(270deg, #903aff 0%, #fe34b9 100%);
    border: none;
    /* padding: .5rem; */
    width: 172px;
    height: 53px;
    flex-shrink: 0;
    color: #fff;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .tech2{
    color: #FF26B9;
  }